body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

hr {
    width: 500px;
}

#errors {
    color: coral;
}

#board {
    width: 450px;
    height: 450px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 48px; 
    height: 48px;
    border: 1px solid lightgray;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile-input {
    width: 100%;
    height: 100%;
    border: none;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.tile-input.correct {
    background-color: lightgreen;
}

.tile-input.incorrect {
    background-color: lightcoral;
}

.tile-start {
    background-color: whitesmoke;
}

.horizontal-line {
    border-bottom: 1px solid black;
}

.vertical-line {
    border-right: 1px solid black;
}

#solve-button, #generate-button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 10px;
}